@using WebCrawler.Model.Models;
@model List<Game>
@{ 
    ViewBag.Title = "Games Index";
}
<div class="body-content">
    <h2 class="text-center">Game Index</h2>
    <div class="container text-center">Browse our comprehensive list of video games</div>
    <div class="container table-responsive">
        <table class="table body-content table-hover">
            <thead>
                <tr>
                    <th>Video Game</th>
                    <th>Price</th>
                    <th>Review Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model)
                {
                    <tr>
                        @*<td>@Html.ActionLink(game.Name, "ProductPage", game)</td>*@
                        <td><a class="link" href="@Url.Action("ProductPage", game)">@game.Name</a></td>
                        <td>$@game.Price</td>
                        <td>@game.ReviewRating</td>
                    </tr>
                    //Html.DisplayFor(m => game.Name);
                    //Html.DisplayFor(m => game.Price);
                    //Html.DisplayFor(m => game.ReviewRating);
                 }
            </tbody>
        </table>
     </div>
</div>