@{ 
    ViewBag.Title = "Gamer's Dungeon";
}
<!--The content of the home landing page-->
<div class="container body-content">

    <img src="~/Content/pics/largestLogo.png" class="img-responsive center-block">


    <h1 class="text-center" style="margin-bottom: 30px;">Welcome to Gamer's Dungeon!</h1>
    
    <p>Hello, and welcome to Gamer's Dungeon, your one stop for finding video game prices, reviews, and much more!
    Want to know the lowest price for a copy of Uncharted 4? We are more than happy to help! 
    Curious as to how Batman Arkham City stacks up against Arkham Knight? We have review ratings and links to comprehensive reviews for both games!
    At Gamer's Dungeon, we pride ourselves in giving you lots of video game information in one place for your convenience.
    With that said, please feel free to check out our list of games! 
    
    <p>Regards,</p>
    <p>The Gamer's Dungeon Team</p>
</div>

